<?xml version="1.0" encoding="UTF-8" ?>  

<!DOCTYPE configuration  
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<typeAliases>
		<!-- parameter Model -->
		<typeAlias alias="JoinParam" type="com.l1j5.web.example.model.dto.JoinParam" />
		<typeAlias alias="PostParam" type="com.l1j5.web.example.model.dto.PostParam" />
		<typeAlias alias="CommentParam" type="com.l1j5.web.example.model.dto.CommentParam" />
		
		<!-- Result Model -->
		<typeAlias alias="Post" type="com.l1j5.web.example.model.dto.Post" />
		<typeAlias alias="Comment" type="com.l1j5.web.example.model.dto.Comment" />
		
	
		<typeAlias alias="GroupMember" type="com.l1j5.web.common.mvc.model.dto.GroupMember" />
	</typeAliases>
</configuration>